<!-- Navbar -->
<nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
        <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <p style="margin-top: 10px; font-size: 20px">Attendance Portal</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <span class="nav-link-inner--text">Home</span>
                    </a>
                </li>

                {{# if login}}
                <li class="nav-item">
                    <a href="/user/dashboard" class="nav-link">
                        <span class="nav-link-inner--text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/profile" class="nav-link">
                        <span class="nav-link-inner--text">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/logout" class="nav-link">
                        <span class="nav-link-inner--text">Logout</span>
                    </a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/user/login" class="nav-link">
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/register" class="nav-link">
                        <span class="nav-link-inner--text"> Student Registration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/user/teacher-register" class="nav-link">
                        <span class="nav-link-inner--text"> Teacher Registration</span>
                    </a>
                </li>
                {{/if}}
            </ul>
            <hr class="d-lg-none" />
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank"
                        data-toggle="tooltip" data-original-title="Like us on Facebook">
                        <i class="fab fa-facebook-square"></i>
                        <span class="nav-link-inner--text d-lg-none">Facebook</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank"
                        data-toggle="tooltip" data-original-title="Follow us on Instagram">
                        <i class="fab fa-instagram"></i>
                        <span class="nav-link-inner--text d-lg-none">Instagram</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip"
                        data-original-title="Follow us on Twitter">
                        <i class="fab fa-twitter-square"></i>
                        <span class="nav-link-inner--text d-lg-none">Twitter</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial" target="_blank"
                        data-toggle="tooltip" data-original-title="Star us on Github">
                        <i class="fab fa-github"></i>
                        <span class="nav-link-inner--text d-lg-none">Github</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>