<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <p>Attendance Portal</p>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/dashboard">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/profile">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Students</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/user/teacher-classrooms">
                            <i class="ni ni-bullet-list-67 text-default"></i>
                            <span class="nav-link-text">Classrooms</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/db_create">
                            <i class="ni ni-circle-08 text-pink"></i>
                            <span class="nav-link-text">Create Student Database</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/take_attendance">
                            <i class="ni ni-circle-08 text-pink"></i>
                            <span class="nav-link-text">Take attendance</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">
                            <i class="ni ni-user-run"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>