input{
    color: black !important;
    font-size: medium !important;
    /* font-family: 'Times New Roman', Times, serif; */
    /* background-color: rgb(232, 240, 254) !important; */
    padding-left: 9px !important;
}